<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="${title}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-50 text-slate-800 min-h-screen flex flex-col">
    <header th:replace="~{fragments/header :: header}"></header>
    <main class="flex-1 w-full">
        <th:block th:replace="${content}"/>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
